.mbis .wrapper{
    width: 63%;
    margin: 0 auto;
}
.mbis{
    height: 361px;
    margin: 0 auto;
    text-align: center;
}
.mbis__content h3{
    color: #777777;
    padding-top: 70px;
    font-size: 24px;
    font-weight: bold;

}
.mbis__content p{
    color: #444444;
    font-size: 18px;
    padding-bottom: 50px;
}
.mbis__content button{
    padding-bottom: 70px;;
}
